<% if user_signed_in? && post.unread?(current_user) %>
  <span class="label label-warning">
    New
  </span>
<% end %>

<div id="<%= dom_id post %>" class="border border-dark p-5">
  <p>
    <%= post.title %>
  </p>

  <small class="text-muted">
    <%= post.body %>
  </small>
</div>
